/* Write your CSS code here */
.about-title {
  font-family: 'Roboto';
  font-size: 30px;
  color: #6d396b;
  font-weight: 800;
}
.about-image {
  width: 30%;
  height: 30%;
}

.about-container {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-description {
  font-family: 'Roboto';
  font-size: 22px;
  color: #555555;
}
